* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #bebbbb;
    border-radius: 5px;
    background-color: #fff;
}

header {
    background-color: #736f6f; 
    color: #fff; 
    text-align: left; 
    padding: 12px; 
    max-width: 100%;
    margin: 0 auto;
}

.head{
    margin-right: 20px;
    display: flex;
    list-style: none;
	position: relative;
    align-items: center;
}

.head li img{
	height: 50px;
	width: 50px;

}


.head li:not(:last-child) {
    margin-right: 10px;
}

.head li a {
    color: rgb(21, 154, 226);
    text-decoration: none;
}

.head li a:hover {
    color: #dc370e;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #000000;
    padding: 9px;
    max-width: 100%;
    margin: 0 auto;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff0000;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: Verdana;
}

input[type="submit"]:hover {
    background-color: #dc370e;
}

footer { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
}