* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #bebbbb;
    border-radius: 5px;
    background-color: #fff;
}

header{
    background-color: #736f6f; 
	color: #fff; 
	text-align: left; 
	padding: 10px; 
}

.head{
    margin-right: 20px;
    display: flex;
    list-style: none;
	position: relative;
    align-items: center;
}

.head li img{
	height: 50px;
	width: 50px;

}

.head li:not(:last-child) {
    margin-right: 10px;
}

.head li a {
    color: rgb(21, 154, 226);
    text-decoration: none;
}

.head li a:hover {
    color: #dc370e;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #000000;
    padding: 9px;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff0000;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.form-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="prof"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #4CAF50;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #dc370e;
}

footer { 
	text-align: center; 
	background-color: #333; 
	color: #fff; 
	padding: 15px; 
}
